body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    font-size: 14px;
}

.navbar{
    font-size: 16px;
}
.zone {
    height: calc(100% - 50px);
    margin-top: 50px;
    overflow: auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.zone-content {
    height: 100%;
    /*overflow: auto;*/
    .screen {
        min-height: calc(100% - 280px);
    }
}

footer {
    height: 20px;
    width: 100%; //background-color: red;
}

.main-container{
    margin-top: 50px;
}

.work-areas {}

h1,
h2,
h3 {
   // color: black !important;
}

.work-areas h1,
.work-areas h2,
.work-areas h3,
.work-areas h4 {
   // color: black !important;
}

.work-areas img {
    height: 250px;
    width: 350px;
    margin: auto;
}

.work-areas .text {
    padding: 10px 5px;
    text-align: justify;
    max-width: 450px;
    margin: auto;
}

.navbar {
    margin-bottom: 0 !important;
}

.navbar-brand img {
    margin-right: 40px;
}

.navbar-brand {
    padding: 1px 0 !important;
}

.navbar-brand img {
    height: 100%;
}

#contact {
    display: none;
}

#image-carousel {
    display: none;
}

#image-carousel .modal-dialog {
    height: 90%;
    width: 90%
}

#image-carousel .modal-content,
#image-carousel .modal-body {
    height: 100%;
    width: 100%;
    padding: 0 !important;
}

.modal-content {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

#image-carousel button.close {
    position: absolute;
    right: 10px;
    z-index: 1000;
    color: black;
    font-size: 30px;
    opacity: 0.8 !important;
    top: 10px;
}


/*.carousel{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute !important;
}*/

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel .item img {
    height: 100% !important;
    max-width: 100% !important;
    /*img width*/
    margin: 0 auto !important;
}

.contact-logo img {
    margin: auto;
}

.contact-container {
    text-align: center;
    padding-top: 10px;
}

#contact h2,
#contact h3,
#contact h4,
#contact h5 {
    color: rgb(3, 60, 115) !important;
}