body {
    overflow: hidden;
}

.zone{
    height: calc(100% - 80px);
    margin-top: 60px;
    overflow:auto;
    padding-left: 0 !important; 
    padding-right: 0 !important; 
}

.zone-content{
    height: 100%;
    /*overflow: auto;*/
}

footer{
    height: 20px;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: gray;
}

.navbar{
    margin-bottom: 0 !important;
}

#gallery{
    display:none;
}
#gallery .panel { position: relative; overflow: hidden; display: block; border-radius: 0 !important;  }
#gallery .panel-default { border-color: #ebedef !important; }
#gallery .panel .panel-body { position: relative; padding: 0 !important; overflow: hidden; height: auto; }
#gallery .panel .panel-body a { overflow: hidden; }
#gallery .panel .panel-body a img { display: block; margin: 0; width: 100%; height: 200px; 
    transition: all 0.5s; 
    -moz-transition: all 0.5s; 
    -webkit-transition: all 0.5s; 
    -o-transition: all 0.5s; 
}
#gallery .panel .panel-body a.zoom:hover img { transform: scale(1.3); -ms-transform: scale(1.3); -webkit-transform: scale(1.3); -o-transform: scale(1.3); -moz-transform: scale(1.3); }
#gallery .panel .panel-body a.zoom span.overlay { position: absolute; top: 0; left: 0; visibility: hidden; height: 100%; width: 100%; background-color: #000; opacity: 0; 
    transition: opacity .25s ease-out;
    -moz-transition: opacity .25s ease-out;
    -webkit-transition: opacity .25s ease-out;
    -o-transition: opacity .25s ease-out;
}     
#gallery .panel .panel-body a.zoom:hover span.overlay { display: block; visibility: visible; opacity: 0.55; -moz-opacity: 0.55; -webkit-opacity: 0.55; filter: alpha(opacity=65); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)"; }  
#gallery .panel .panel-body a.zoom:hover span.overlay i { position: absolute; top: 45%; left: 0%; width: 100%; font-size: 2.25em; color: #fff !important; text-align: center;
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
    filter: alpha(opacity=1);    
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
}

#contact{
    display:none;
}

#image-carousel{
    display:none;
}

#image-carousel .modal-dialog{
    height:90%;
    width: 90%
}

#image-carousel .modal-content,
#image-carousel .modal-body{
    height:100%;
    width: 100%;
    padding: 0 !important;

}
.modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important; 
}
#image-carousel button.close{
    position: absolute;
    right: 10px;
    top: 10px;
}


/*.carousel{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute !important;
}*/
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}

.carousel .item img {
    height: 100% !important;
    max-width: 100% !important; /*img width*/
    margin: 0 auto !important;
}