#references {
    display: none;
    .reference-container {
        text-align: center;
        max-width: 750px;
        margin: auto;
        padding-top: 50px;
    }
    img{
      width: 80px;
    }
    .text{
      padding-top: 10px;
      font-size: 18px;
    }

    .ico{
      font-size:24px;
      padding: 15px 5px;
    }
}

// .references-conainer .reference-item img {
//     width: 80px;
//     margin: auto;
// }

// .reference-item .text-container {
//     display: table;
//     min-height: 71px;
// }

// .reference-item .text-container .text {
//     display: table-cell;
//     vertical-align: middle;
// }

// .reference-item .action-container {
//     display: table;
//     min-height: 70px;
// }

// .reference-item .action-container .icons {
//     display: table-cell;
//     vertical-align: middle;
// }

// .reference-item .action-container .icons .ico {
//     font-size: 30px;
//     padding-left: 10px;
//     cursor: pointer;
// }