<div class="col-lg-3 col-xs-4">
    <div class="panel panel-default image-thumbnail" data-image="{{:imageId}}">
        <div class="panel-body">
            <a href="#" class="zoom">
                <img src="./api/image/thumbnail/{{:imageId}}" alt="" />
                <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
            </a>
        </div>
        <div class="panel-footer">
            <span class="text-primary">{{:name}}</span>
        </div>
    </div>
</div>